{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<!--Just a form for user to change their password-->
<div class="box">
   <h1>Update password</h1>
        <p>Update your password</p>
        <form action="." method="post">
            <h5> {{ form.old_password.label }} <br>
                {{ form.old_password }} <br> </h5>

            <h5> {{ form.new_password1.label}} <br>
                {{ form.new_password1 }} <br> </h5>

            <h5> {{ form.new_password2.label }} <br>
                {{ form.new_password2 }} <br> </h5>

            <p><button type="Submit" name="Change" class="cool_effect">Submit</button></p>
            {% csrf_token %}
        </form>
</div>
{% endblock %}
