{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<!--Just a form for user to change their password-->
   <h1>Reset password</h1>
        <p>Please enter your new password</p>
        <form method="post">
            <p>{% csrf_token %}</p>
             {% for field in form %}
            <p>{{ field.label_tag }}
            {{ field }}</p>
            {% endfor %}

            <p><input type="Submit" name="Update Password"></p>
            {{ form.errors }}
        </form>
{% endblock %}