{% extends "base.html" %}

{% block title %}Password changed{% endblock %}

{% block content %}
<!--I changed the password reset page so it ask for email instead of entering the old password-->
<!--This page will ask the user to enter their email that's associated to their account-->
  <h1>Reset password</h1>
        <p>Enter your email address</p>
        <form method="post">
            <p>{% csrf_token %}
             {{ form }}<br> please enter your email </p>
            <p><button input type="Submit" name="Send email" class="cool_effect">Submit</button></p>
            {{ form.errors }}
        </form>
{% endblock %}