{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
<!--Click on the post content photo will take you to the page that host that specific post-->
    <div class="box">
            <img class="profile_pic" src="{{ object.user.profile.image.url }}">
            <div class="text_wrapper">
                <p>{{ object.user }}</p>
            </div>
            <p><img class="post" src="{{ post.image.url }}"></p>
            <p>{{ object.caption }}</p>
            <p>{{ object.created }}</p>
            <p><a href="{% url 'post-update' pk=post.id %}"><button class="cool_effect">Update post</button></a></p>
            <p><a href="{% url 'post-delete' pk=post.id %}"><button class="cool_effect">Delete post</button></a></p>
        </div>
{% endblock %}